<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head lang="en">

    <title>Donnie The Turtle</title>

    <!-- bootstrap Core CSS and jQuery -->
    <script type="text/javascript" src="/webjars/jquery/3.0.0-alpha1/jquery.js"></script>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" media="screen" />
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
    <link th:href="@{/css/unique.css}" rel="stylesheet" media="screen" />
    <script th:src="@{/js/jquery.min.js}" src="../static/js/jquery.min.js"></script>
    <script th:src="@{/js/bootstrap.min.js}" src="../static/js/bootstrap.min.js"></script>

    <!-- custom CSS -->
    <link th:href="@{/css/freelancer.css}" rel="stylesheet" media="screen" />
    <link th:href="@{/webjars/startbootstrap-freelancer/1.0.3/font-awesome/css/font-awesome.css}" rel="stylesheet" media="screen" />
    <link th:href="@{/webjars/startbootstrap-freelancer/1.0.3/font-awesome/css/font-awesome.min.css}" rel="stylesheet" media="screen" />

    <!-- custom Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- jQuery Calls on load -->
    <script type="text/javascript">
        $(document).ready(function() {
            <!-- testing zone wear hardhats -->

            <!-- local vars -->

            <!-- set relay toggle buttons on load -->
            $("#mainLight").click(function(){
                $.get("/relayToggle", {name: "mainLight", password: sessionStorage.getItem('password')}, function(data){
                    switch(data) {
                        case "NightTime":{$("#mainLight").popover({title:"Donnie Is Sleeping", content:"Try again after Sunrise.", trigger:"hover", placement:"bottom"}).popover("show");break;}
                        case "Timeout": break;
                        default: {
                            $("#mainLight").val(data).popover({title:"Video Feed Is Delayed", content:"Main Light has been switched " + data + ". Please be patient.", trigger:"hover", placement:"bottom"
                            }).popover("show").delay(25000).queue(function() {
                                $(this).popover('destroy'); $(this).dequeue();
                            });
                        }
                    }
                });
            });
            $("#uvbLight").click(function() {
                $.get("/relayToggle", {name: "uvbLight", password: sessionStorage.getItem('password')}, function (data){
                    switch(data) {
                        case "NightTime": {$("#uvbLight").popover({title:"Donnie Is Sleeping", content:"Try again after Sunrise.", trigger:"hover", placement:"bottom"}).popover("show");break;}
                        case "Timeout": break;
                        default: {
                            $("#uvbLight").val(data).popover({title:"Video Feed Is Delayed", content:"UVB Light has been switched " + data + ". Please be patient.", trigger:"hover", placement:"bottom"
                            }).popover("show").delay(25000).queue(function() {
                                $(this).popover('destroy'); $(this).dequeue();
                            });
                        }
                    }
                });
            });
            $("#heatLight").click(function(){
                $.get("/relayToggle", {name: "heatLight", password: sessionStorage.getItem('password')}, function(data){
                    switch(data) {
                        case "NightTime": {$("#heatLight").popover({title:"Donnie Is Sleeping", content:"Try again after Sunrise.", trigger:"hover", placement:"bottom"}).popover("show");break;}
                        case "Timeout": break;
                        default: {
                            $("#heatLight").val(data).popover({title:"Video Feed Is Delayed", content:"Heat Light has been switched " + data + ". Please be patient.", trigger:"hover", placement:"bottom"
                            }).popover("show").delay(25000).queue(function() {
                                $(this).popover('destroy'); $(this).dequeue();
                            });
                        }
                    }
                });
            });
            $("#bubbles").click(function(){
                $.get("/relayToggle", {name: "bubbles", password: sessionStorage.getItem('password')}, function(data){
                    switch(data) {
                        case "NightTime": {$("#bubbles").popover({title:"Donnie Is Sleeping",content:"Try again after Sunrise.",trigger:"hover",placement:"bottom"}).popover("show");break;}
                        case "Timeout": break;
                        default: {
                            $("#bubbles").val(data).popover({title:"Video Feed Is Delayed",content:"Bubbles have been switched " + data + ". Please be patient.",trigger:"hover",placement:"bottom"
                            }).popover("show").delay(25000).queue(function() {
                                $(this).popover('destroy'); $(this).dequeue();
                            });
                        }
                    }
                });
            });
            $("#feeder").click(function(){
                $.get("/feederToggle",{password: sessionStorage.getItem('password')}, function(data){
                    switch(data) {
                        case "Disabled":{$('#feeder').val(data).popover({title: "Donnie Is Sleeping",content: "No late night snacks allowed.",trigger: "hover",placement: "bottom"});break;}
                        case "OverFed":{$('#feeder').val("Disabled").popover({title:"Overfed",content:"Donnie has hit his daily limit.",trigger:"hover",placement:"bottom"});break;}
                        case "Feeding":{$('#feeder').val(data).popover({title:"Video Feed Is Delayed",content:"Donnie will be fed here shortly. Please be patient.",trigger:"hover",placement:"bottom"
                            }).popover("show").delay(25000).queue(function() {
                                $(this).popover('destroy'); $(this).dequeue();
                            });
                            break;
                        }
                        default:{$('#feeder').popover({title:"Feeder Disabled",content: data,trigger:"hover",placement:"bottom"});}
                    }
                });
            });

            <!-- set relay toggle status on load **update every 30 secs** -->
            $.get("/relayStatus", {name: "mainLight"}, function(data){$('#mainLight').val(data)});
            $.get("/relayStatus", {name: "uvbLight"}, function(data){$('#uvbLight').val(data)});
            $.get("/relayStatus", {name: "heatLight"}, function(data){$('#heatLight').val(data)});
            $.get("/relayStatus", {name: "bubbles"}, function(data){$('#bubbles').val(data)});
            $.get("/feederStatus", function(data){
                switch(data) {
                    case "Disabled":{$('#feeder').val(data).popover({title: "Donnie Is Sleeping",content: "No late night snacks allowed.",trigger: "hover",placement: "bottom"});break;}
                    case "OverFed":{$('#feeder').val(data).popover({title:"Overfed",content:"Donnie has hit his daily limit.",trigger:"hover",placement:"bottom"});break;}
                    case "Feed": {$('#feeder').val(data).popover("destroy");break;}
                    default:{$('#feeder').val("Disabled").popover({title:"Feeder Disabled",content: data,trigger:"hover",placement:"bottom"});}
                }
            });
            setInterval(function() {
                $.get("/relayStatus", {name: "mainLight"}, function(data){$('#mainLight').val(data)});
                $.get("/relayStatus", {name: "uvbLight"}, function(data){$('#uvbLight').val(data)});
                $.get("/relayStatus", {name: "heatLight"}, function(data){$('#heatLight').val(data)});
                $.get("/relayStatus", {name: "bubbles"}, function(data){$('#bubbles').val(data)});
                $.get("/feederStatus", function(data){
                    switch(data) {
                        case "Disabled":{$('#feeder').val(data).popover({title: "Donnie Is Sleeping",content: "No late night snacks allowed.",trigger: "hover",placement: "bottom"});break;}
                        case "OverFed":{$('#feeder').val(data).popover({title:"Overfed",content:"Donnie has hit his daily limit.",trigger:"hover",placement:"bottom"});break;}
                        case "Feed": {$('#feeder').val(data).popover("destroy");break;}
                        default:{$('#feeder').val("Disabled").popover({title:"Feeder Disabled",content: data,trigger:"hover",placement:"bottom"});}
                    }
                });
            }, 30000);

            <!-- temps on mouseover css -->
            $("#h2Temps").hover(function() {
                $(this).css({'color': '#2C3E50', 'cursor': 'pointer'});
            }, function() {
                $(this).css({'color': 'white', 'cursor': 'auto'});
            });
            $("div.water").hover(function() {
                $(this).css({'color': '#2C3E50', 'cursor': 'pointer'});
            }, function() {
                $(this).css({'color': 'white', 'cursor': 'auto'});
            });
            $("div.air").hover(function() {
                $(this).css({'color': '#2C3E50', 'cursor': 'pointer'} );
            }, function() {
                $(this).css({'color': 'white', 'cursor': 'auto'} );
            });
            $("div.basking").hover(function() {
                $(this).css({'color': '#2C3E50', 'cursor': 'pointer'} );
            }, function() {
                $(this).css({'color': 'white', 'cursor': 'auto'} );
            });

            <!-- modal on click of temps -->
            $("#h2Temps").click(function() {
                $("#tempChartIframe").attr('src','https://domo.domo.com/link/v8Tw7NUjmAkr4SWy');
            });
            $("div.water").click(function() {
                $("#tempChartIframe").attr('src','https://domo.domo.com/link/CT6XqoUCIQeMJiLb');
            });
            $("div.air").click(function() {
                $("#tempChartIframe").attr('src','https://domo.domo.com/link/8xPo8Y4d2AKH5UqR');
            });
            $("div.basking").click(function() {
                $("#tempChartIframe").attr('src','https://domo.domo.com/link/Yddtc4IBU4L9IIAq');
            });

            <!-- get outOfWater status on load, determine cam feed as well **update every 10 secs** -->
            $.get("/turtleStatus", function(data) {
                $('#donnieslocation').html("<p class='events'>" + "DONNIE IS " + data + "</p>")
                if((data == "OUT OF THE WATER")) {
                    $('#cams').html("<iframe src='http://ipcamlive.com/player/player.php?alias=turtletankland&autoplay=1&mute=0' allowfullscreen frameborder='0'></iframe>");
                    $('#radioAbove').attr('checked', true);
                    sessionStorage.setItem("camStatus", "above");

                } else {
                    $('#cams').html("<iframe src='http://ipcamlive.com/player/player.php?alias=turtletankwater&autoplay=1&mute=0' allowfullscreen frameborder='0'></iframe>");
                    $('#radioBelow').attr('checked', true);
                    sessionStorage.setItem("camStatus", "below");
                }
            });
            setInterval(function() {
                $.get("/turtleStatus", function(data) {
                    $('#donnieslocation').html("<p class='events'>" + "DONNIE IS " + data + "</p>")
                    if((data == "OUT OF THE WATER") && sessionStorage.getItem("auto") == "true" && sessionStorage.getItem('camStatus') != "above") {
                        $('#cams').html("<iframe src='http://ipcamlive.com/player/player.php?alias=turtletankland&autoplay=1&mute=0' allowfullscreen frameborder='0'></iframe>");
                        sessionStorage.setItem("camStatus", "above");
                    } else if((data == "IN THE WATER") && sessionStorage.getItem("auto") == "true" && sessionStorage.getItem('camStatus') != "below") {
                        $('#cams').html("<iframe src='http://ipcamlive.com/player/player.php?alias=turtletankwater&autoplay=1&mute=0' allowfullscreen frameborder='0'></iframe>");
                        sessionStorage.setItem("camStatus", "below");
                    }
                });
            }, 10000);

            <!-- get temperatures on load **update every minute** -->
            $.get("/getTemp", {name: "water"}, function(data){$('#waterTemp').html("<p class='temperature'>" + data + "</p>")});
            $.get("/getTemp", {name: "air"}, function(data){$('#airTemp').html("<p class='temperature'>" + data + "</p>")});
            $.get("/getTemp", {name: "basking"}, function(data){$('#baskingTemp').html("<p class='temperature'>" + data + "</p>")});
            setInterval(function() {
                $.get("/getTemp", {name: "water"}, function(data){$('#waterTemp').html("<p class='temperature'>" + data + "</p>")});
                $.get("/getTemp", {name: "air"}, function(data){$('#airTemp').html("<p class='temperature'>" + data + "</p>")});
                $.get("/getTemp", {name: "basking"}, function(data){$('#baskingTemp').html("<p class='temperature'>" + data + "</p>")});
            }, 60000);

            <!-- get routine on load -->
            $.get("/getRoutine", {name: "sunrise"}, function(data){$('#sunrise').html("<p class='routine'>" + data + "</p>")});
            $.get("/getRoutine", {name: "breakfast"}, function(data){$('#breakfast').html("<p class='routine'>" + data + "</p>")});
            $.get("/getRoutine", {name: "dinner"}, function(data){$('#dinner').html("<p class='routine'>" + data + "</p>")});
            $.get("/getRoutine", {name: "sunset"}, function(data){$('#sunset').html("<p class='routine'>" + data + "</p>")});

            <!-- determine css of LIVE FEED background **update every minute** -->
            $.get("/getRoutine", {name: "nightTimeBool"}, function(data){
                if(data == "true"){
                    $('#livefeed').attr("id", "livefeedNight")
                } else{
                    $('#livefeedNight').attr("id", "livefeed")
                }
            });
            setInterval(function() {
                $.get("/getRoutine", {name: "nightTimeBool"}, function(data) {
                    if (data == "true") {
                        $('#livefeed').attr("id", "livefeedNight")
                    }else{
                        $('#livefeedNight').attr("id", "livefeed")
                    }
                })
            }, 60000);

            <!-- toggles for cameras -->
            $('input[name=options]').click(function(){
                var n = $(this).val();
                switch(n)
                {
                    case '1':
                        $('#cams').html("<iframe src='http://ipcamlive.com/player/player.php?alias=turtletankland&autoplay=1&mute=0' allowfullscreen frameborder='0'></iframe>");
                        sessionStorage.setItem("auto", false);
                        sessionStorage.setItem("camStatus", "above");
                        break;
                    case '2':
                        $('#cams').html("<iframe src='http://ipcamlive.com/player/player.php?alias=turtletankwater&autoplay=1&mute=0' allowfullscreen frameborder='0'></iframe>");
                        sessionStorage.setItem("auto", true);
                        sessionStorage.setItem("camStatus", "below");
                        break;
//                    case '3':
//                        sessionStorage.setItem("auto", true);
//                        sessionStorage.setItem("camStatus", "auto");
                }
            });

            <!-- god mode -->
            $("#god_mode").click(function(){
                x++;
                if(x == 10) {
                    $("#god_mode_div").html("<input type='password' id='god_mode_txt'>");
                    $("#god_mode_txt").bind("keypress", function(e) {
                        if (e.keyCode == 13) {
                            $.get("/godMode", {command: $("#god_mode_txt").val()}, function(data){
                                if(data != "") sessionStorage.setItem('password', data);
                                else {
                                    y++;
                                    localStorage.setItem("banned", y);
                                    if(localStorage.getItem("banned") >= 2) $("#page-top").html("Sorry you are lame... your IP address has been logged.<br>Donnie doesn't appreciate your games.");
                                }
                            });
                            $("#god_mode_div").html("");
                            x = 0;
                            return false;
                        }
                    });
                }
            });

            var x = 0;
            var y = (localStorage.getItem("banned") === null) ? 0 : localStorage.getItem("banned");
            if(localStorage.getItem("banned") >= 2) $("#page-top").html("Sorry you are lame... your IP address has been logged.<br>Donnie doesn't appreciate your games.");
            sessionStorage.setItem('password', '');
        });
    </script>
</head>

<body id="page-top" class="index">

    <!-- navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#page-top">Donnie The Turtle</a>
            </div>

            <!-- collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#livefeed">Live Feed</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#temperatures">Temperatures</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#routine">Routine</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#about">About</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#video">Video</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img th:src="@{/images/turtle.png}" class="img-responsive" src="../static/images/turtle.png"/>
                    <div class="intro-text">
                        <span class="name">Donnie The Turtle</span>
                        <hr class="style-white">
                        <span class="skills">Custom - Red-eared Slider - Habitat</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- live feed grid section -->
    <section id="livefeed">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Live Feed</h2>
                    <hr class="style-dark">
                    <!--donnies location-->
                    <!--<div id="donnieslocation"></div>-->
                    <!--<br>-->
                    <!-- twitter feed -->
                    <a href="https://twitter.com/donnietheturtle" class="twitter-follow-button" data-show-count="false" data-size="large" data-dnt="true">Follow @donnietheturtle</a>
                    <!-- live camera -->
                    <div class="camerasradio">
                        <div id="cams">
                            <!-- replace html based off of radio btn -->
                            <iframe src='http://ipcamlive.com/player/player.php?alias=turtletankland&autoplay=1&mute=0' allowfullscreen frameborder='0'></iframe>
                        </div>
                        <div id="radio">
                            <div class="btn-group" data-toggle="cams">
                                <label class="btn btn-primary">
                                    <input type="radio" id="radioAbove" name="options" value="1"> Above
                                </label>
                                <label class="btn btn-primary">
                                    <input type="radio" id="radioBelow" name="options" value="2"> Below
                                </label>
                                <!--<label class="btn btn-primary">-->
                                    <!--<input type="radio" name="options" value="3"> Auto-->
                                <!--</label>-->
                            </div>
                        </div>
                    </div>
                    <br>
                        <div class="container">
                            <div class="mainLight">
                                <p>Main Light</p>
                                <input type="button" id="mainLight" class="btn btn-primary btn-lg" data-toggle="popover"/>
                            </div>
                            <div class="uvbLight">
                                <p>UVB Light</p>
                                <input type="button" id="uvbLight" class="btn btn-primary btn-lg" data-toggle="popover"/>
                            </div>
                            <div class="heatLight">
                                <p>Heat Light</p>
                                <input type="button" id="heatLight" class="btn btn-primary btn-lg" data-toggle="popover"/>
                            </div>
                            <div class="bubbles">
                                <p>Bubbles</p>
                                <input type="button" id="bubbles" class="btn btn-primary btn-lg" data-toggle="popover"/>
                            </div>
                            <div class="feeder">
                                <p>Feeder</p>
                                <input type="button" id="feeder" class="btn btn-primary btn-lg" data-toggle="popover"/>
                            </div>
                        </div>
                    <br>
                </div>
            </div>
        </div>
    </section>

    <!-- temperatures section -->
    <section class="success" id="temperatures">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 id="h2Temps" data-toggle="modal" data-target="#temperatureModal">Temperatures</h2>
                    <hr class="style-white">
                    <p class='events'>CLICK INDIVIDUAL TEMPS FOR HISTORY</P>
                </div>
                <div class="col-lg-12 text-center">
                    <div class="container">
                        <div class="water" data-toggle="modal" data-target="#temperatureModal">
                            <p class="activity">WATER</p>
                            <div id = "waterTemp">
                            </div>
                        </div>
                        <div class="air" data-toggle="modal" data-target="#temperatureModal">
                            <p class="activity">AIR</p>
                            <div id = "airTemp">
                            </div>
                        </div>
                        <div class="basking" data-toggle="modal" data-target="#temperatureModal">
                            <p class="activity">BASKING</p>
                            <div id = "baskingTemp">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- modal content for temperatures -->
        <div id="temperatureModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <div style=" height: 750px; width: 950px;"><iframe id="tempChartIframe"></iframe></div>
                    </div>
                </div>
            </div>
       </div>

    <!-- routine section -->
    <section id="routine">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Routine</h2>
                    <hr class="style-dark">
                </div>
                <div class="col-lg-12 text-center">
                    <div class="container">
                        <div class="sunrise">
                            <p class="activity">SUNRISE</p>
                            <div id = "sunrise">
                            </div>
                        </div>
                        <div class="breakfast">
                            <p class="activity">BREAKFAST</p>
                            <div id = "breakfast">
                            </div>
                        </div>
                        <div class="dinner">
                            <p class="activity">DINNER</p>
                            <div id = "dinner">
                            </div>
                        </div>
                        <div class="sunset">
                            <p class="activity">SUNSET</p>
                            <div id = "sunset">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- about section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="style-white">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>This web-page and backend application are both running on a single Raspberry Pi. The web-page was built
                    using spring-boot, and the backend was built using spring & Java.</p>
                </div>
                <div class="col-lg-4">
                    <p>A huge thanks to the <a href="http://pi4j.com">Pi4J</a> library for making Java GPIO on the Raspberry Pi a possibility
                    as well as <a href="https://spring.io">spring</a> for your ease of use, and integration. You have made one happy turtle.</p>
                </div>
            </div>
            <div class="details">
                <hr class="style-white">
                <p>Donnie is housed in a 55 gallon aquarium with an additional self-made top to allow for his added basking area. He was adopted
                in Aug. of 2015, and will hopefully live for a long time with the setup he has. The aquarium has a self-made filter that cycles
                through 800 gallons per hour.</p>
                <p>The internal temps are displayed above in real time. The backend application on the Raspberry Pi
                will not allow for his basking area to drop below 91 degrees, or rise above 93, during the day time. The same can be said for the water which sits
                at a nice 76 degrees. Sunrise and Sunset are updated daily and are based off that of my home town. These are the times when the aquarium
                reacts accordingly, turning on or off the lights and the ability to interact with Donnie.</p>
                <p>Donnie is automatically fed at both breakfast and dinner time. Throughout the day there is the option to feed him. His daily amount is accounted
                for in the backend application. If he gets fed at each possible opportunity during the day, very little food is provided at the end of it.
                If he doesn't receive food throughout the day then he receives more at dinner time.</p>
                <p>The water in the aquarium evaporates pretty regularly. In order to account for this, a water line with a solenoid on the end of it was
                put into the sump. There is also a float switch within the sump that relays a signal to the backend application to turn on the solenoid when the water
                is too low. Has Donnie's tank ever flooded you ask? Funny thing-- about 4 different times... However, I now have a switch that detects if water is on the
                floor and I receive an immediate alert through Twitter. It also shuts down the water line with the solenoid until I can view things in person if I am away.</p>
                <p>With all the automation that has been built into Donnie's aquarium there is very little maintenance that is required. Bi-weekly manual tank cleanings
                are necessary as well as a change of water and chemicals.</p>
            </div>
        </div>
    </section>

    <!-- video section -->
    <section id="video">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Video</h2>
                    <hr class="style-dark">
                </div>
                <div class="col-lg-12 text-center">
                    <p>Youtube Video showing the outside of Donnie's habitat.<br>If you have any questions for me, feel free to ask them within YouTube's comments section.</p>
                    <iframe width="600" height="400" src="https://www.youtube.com/embed/Kmkgl4OIgVA" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </section>

    <!-- footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3>Chad D'Haenens</h3>
                        <p>Donnie's Owner</p>
                        <img th:src="@{/images/chad.png}" class="img-responsive" id="god_mode" src="../static/images/chad.png"/>
                        <div id="god_mode_div"></div>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Chad Around the Web</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="https://plus.google.com/u/0/114632663039234962936" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                            </li>
                            <li>
                                <a href="https://twitter.com/chaderick9" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="https://github.com/chaderick9" class="btn-social btn-outline"><i class="fa fa-fw fa-github"></i></a>
                            </li>
                            <!--<li>
                                <a href="https://www.linkedin.com/in/chad-d-haenens-124407b6" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                            </li>-->
                        </ul>
                        <br>
                        <a href="https://www.uvu.edu/cs/"><img th:src="@{/images/wolverine.png}" src="../static/images/wolverine.png"/></a>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>About Chad</h3>
                        <p>I have a love for turtles,<br>coding, golf,<br>and on occasion,<br>smooth jazz.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; Donnie The Turtle 2016
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- scroll to top Button (only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- plugin JavaScript -->
    <script th:src="@{/js/classie.js}" src="../static/js/classie.js"></script>
    <script th:src="@{/js/cbpAnimatedHeader.js}" src="../static/js/cbpAnimatedHeader.js"></script>

    <!-- custom theme JavaScript -->
    <script th:src="@{/js/freelancer.js}" src="../static/js/freelancer.js"></script>

    <!-- twitter @follow widget -->
   <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
        if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';
            fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

    <!-- google analytics tacking -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-72776846-1', 'auto');
        ga('send', 'pageview');
    </script>

</body>

</html>