<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Donnie The Turtle</title>
    <script type="text/javascript" src="/webjars/jquery/3.0.0-alpha1/jquery.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $("#mainLight").click(function(){
                $.get("/relayToggle", {name: "mainLight"});
            });
        });
        $(document).ready(function(){
            $("#uvbLight").click(function(){
                $.get("/relayToggle", {name: "uvbLight"});
            });
        });
        $(document).ready(function(){
            $("#heatLight").click(function(){
                $.get("/relayToggle", {name: "heatLight"});
            });
        });
        $(document).ready(function(){
            $("#bubbles").click(function(){
                $.get("/relayToggle", {name: "bubbles"});
            });
        });
        $(document).ready(function(){
            $("#feeder").click(function(){
                $.get("/feeder");
            });
        });
    </script>
</head>
<body>
<input type="button" id="mainLight" value="Main Light"/>
<input type="button" id="uvbLight" value="UVB Light"/>
<input type="button" id="heatLight" value="Heat Light"/>
<input type="button" id="bubbles" value="Bubbles"/>
<input type="button" id="feeder" value="Feeder"/>
</body>
</html>